 {{> banner}}
<body>

    <section class="section-margin calc-60px">>
       <div class="container" style="text-align-last: center;">
              <div class="section-intro pb-60px">
                 <h2>Admin </h2>
                 </div>
       </div>
       <section class="blog_user_infomation">
        <div style="text-align-last: center;">
               <div>{{#each sluser}}
                <h5>Amount user: {{sl}}</h5>
                {{/each}}
                </div> 
                {{#each nb}}
                <h5>Number of courses sold: {{sl1}} </h5>   
                {{/each}}  
        </div>
        </section>
    <section class="section-margin calc-60px">>
        <div class="container">
              <div class="section-intro pb-60px">
               
                <div class="row" style="width: 1350px; height: 371px;">
                    {{#each hoaDon_c}}
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="{{imagepath}}" alt="">
                            </div>
                            <div class="card-body">
                                <p>{{name}}</p>
                                <h4 class="card-product__title">Amount sold</h4>
                                <p class="card-product__price">{{sl}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
          
                </div>

                <div class="row" style="width: 1350px; height: 371px;">
                    {{#each hoaDon_t}}
                    <div class="column col-sm-2">
                        <div class="card">
                            <div class="card-product__img">
                                <img class="card-img" src="{{imagepath}}" alt="">
                            </div>
                            <div class="card-body">
                                <p>{{name}}</p>
                                <h4 class="card-product__title">Amount sold</h4>
                                <p class="card-product__price">{{sl}}</p>
                            </div>
                        </div>
                    </div>
                    {{/each}}
          
                </div>

                <table class="table">
                    <thead>
                        <tr>
                            <th style="text-align: revert">Teacher</th>
                            <th style="text-align: revert">SQL</th>
                            <th style="text-align: revert">Python</th>
                            <th style="text-align: revert">JavaScript</th>
                            <th style="text-align: revert">HTLM</th>
                            <th style="text-align: revert">CSS</th>
                            <th style="text-align: revert">Amount Sold</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Tien</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>3</td>
                            <td>0</td>
                            <td>0</td>
                        </tr>
                        <tr>
                            <td>Diem</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>4</td>
                            <td>3</td>
                            <td>2</td>
                        </tr>
                        <tr>
                            <td>Tran</td>
                            <td>2</td>
                            <td>2</td>
                            <td>1</td>
                            <td>1</td>
                            <td>0</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Toan</td>
                            <td>2</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>4</td>
                            <td>3</td>
                        </tr>
                        <tr>
                            <td>Minh</td>
                            <td>2</td>
                            <td>0</td>
                            <td>0</td>
                            <td>1</td>
                            <td>4</td>
                            <td>3</td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </section>

    

</body>

</html>