{{> banner }}
<!--================Blog user information =================-->
<section class="blog_user_infomation">
    <div style="text-align-last: center;">
        {{#each user_inf}}
            <img src="{{avatarpath}}" alt="">
            <h5>Fullname: {{fullname}} </h5>
            <h5>Email: {{username}} </h5>
            
        {{/each}}
    </div>
</section>

<!--================!Blog user information =================-->

    <section class="section-margin calc-60px">>
       <div class="container" style="text-align-last: center;">
              <div class="section-intro pb-60px">
                 <h2>Danh Sách Khóa Học:  </h2>
                 </div>
       </div>

<!--================Blog Categorie Area =================-->


   {{#each cl}}
  <section class="centera">
    <div class="card text-center card-product">
    <div class="card text-center card-product">
       <a href='/class/{{id}}'><img class="card-product__viewclass"  src={{imagepath}} alt="post" > </a> 
    </div>
    <div class="card-body">
        <h4 class="card-product__title" class = "centera"><a href="/class/{{id}}">Khóa học: {{name}} </a></h4>
    </div> 
     <p class="card-product__price"> Tóm Tắt: {{Summary}} </p>
    </div>
  </div>
  </section>
  {{/each}}
  